.test_span{
    background-color: orange;
}
.span{
    background-color: lightblue;
    border: 2px solid blue;
    font-size: 30px;
    padding: 20px;
}
.div{
    background-color: rgb(235, 102, 102);
    border: 2px solid red;
    font-size: 30px;
    padding: 20px;
}