body{
    background-color: red;
}
.class{
    background-color: rgb(13, 216, 33);
}
h1{
    font-size: 50px;
}
.sveta{
    background-color: blanchedalmond;
    padding: 50px;
    border-radius: 50px;
}
.negr{
    background-color: black;
    color: white;
    padding: 55px;
    border-radius: 20px;
}
.acc{
    background-color: limegreen;
    padding: 200px;
    border-radius: 500000px;
}
div{
    height: 50px;
    width: 500px;
    text-align: center;
    font-size: 40px;
}
.foto{
    height: 500px;
    width: 1000px;
    background: url(https://i.pinimg.com/originals/3b/98/3a/3b983a0a7c1d17d8402f7bdaa8b6c390.png) no-repeat;
}
.ya_hz_cho_eto{
    
    background: url(https://static.vecteezy.com/system/resources/previews/035/199/244/non_2x/ai-generated-blue-flower-isolated-on-transparent-background-free-png.png) white  no-repeat;
    background-position: center top;
    background-size: 500px 500px;
    height: 1000px;
    width: 1500px;
}
.vaa{
    background-color: black;
    background: url(https://img.freepik.com/premium-psd/flying-airplane-transparent-background-3d-rendering-illustration_494250-23712.jpg?w=2000) no-repeat;
    background-size: 700px 500px;
    width: 700px;
    height: 500px;
}
.beleberda{
    background: url(https://i.pinimg.com/originals/3b/98/3a/3b983a0a7c1d17d8402f7bdaa8b6c390.png) no-repeat, url(https://i.pinimg.com/736x/41/21/f3/4121f3eca05735c6043e325304a98f35.jpg);
    background-size: 500px 700px;
    background-position: center bottom;
    width: 1400px;
    height: 1000px;
}
.grad{
    background-image: linear-gradient(lightgreen,lime,green);
    width: 1000px;
    height: 200px;
}